{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<main id="main">
  <div class="container-fluid benifits-section pe-lg-5">
    <a
      class="d-flex justify-content-end icon-whatsapp"
      href="http://wa.me/+919164049777"
      ><i class="bi bi-whatsapp"></i
    ></a>
    <h2 class="text-center">
      <b id="dalmatins"
        >Overall Detailed Benefits Of Divine Star Protection</b
      >
    </h2>
    <div class="row">
      <div class="col-lg-3 col-md-12 firstorder text-center">
        <img src="{%static "img/benifits1.svg" %}"alt="" />
      </div>
      <div class="col-lg-4 col-md-12 secondorder">
        <h3 class="benifits-heading">
          BENEFITS OF DIVINE STAR PROTECTION PENDANT:
        </h3>
        <ol>
          <li>
            Helps remove negativity and protect against negative energy.
          </li>
          <li>
            Helps relieve depression, anxiety, fear & feelings of
            loneliness.
          </li>
          <li>Helps in strengthening the lungs.</li>
          <li>Helps to promote good healing power.</li>
          <li>Helps to Increase Immunity of the human body.</li>
          <li>Helps to heal the hurt Inner Child in you.</li>
          <li>Helps to promote good and peaceful sleep.</li>
        </ol>
        <h3 class="benifits-heading">
          PENDANT: PSYCHOLOGICAL AND EMOTIONAL BENEFITS
        </h3>
        <ol>
          <li>
            DIVINE STAR PROTECTION PENDANT helps deal with aggression and
            alleviates the feelings of trauma. Because of its healing
            nature, this stone is used for bringing forth a sense of
            calmness.
          </li>
          <li>
            It is a very good for removing negative thoughts and anxiety,
            and giving the much needed boost to love, loyalty and
            commitment.
          </li>
          <li>
            It can help in acknowledging the past and is widely used during
            meditation.
          </li>
          <li>
            Those who suffer from a range of psychological issues like
            feeling low, depression, PMS mood swings, etc. can also use
            this.
          </li>
          <li>
            It is also known as the 'Crying Stone', because it is said to
            bring out the tears in those who use it in a therapeutic way, to
            cleanse their emotions and remove negative energy.
          </li>
        </ol>
      </div>
      <div class="col-lg-5 col-md-12 thirdorder">
        <h3 class="benifits-heading">SPIRITUAL BENEFITS</h3>
        <ol>
          <li>
            The Divine Star Protection Pendant can prove beneficial to those
            who wish to establish the divine connection.
          </li>
          <li>
            It is a protective stone and helps one stay safe from all kinds
            of Negative Energies & Negative People.
          </li>
          <li>
            Its energy makes a good connection to the earth and vibrates
            strongly with the base and earth which makes it an excellent
            spiritual grounding stone.
          </li>
          <li>
            The mineral content in the stone helps clears out congested
            emotions by circulating cosmic energy throughout the auric
            field. Divine Star's Protection Pendant increases creative
            visualization and helps to manifest desired goals. It sends deep
            healing frequencies to the heart center and is said to bring
            forth love, commitment, trust and humility from within.
          </li>
        </ol>

        <h3 class="benifits-heading">INTELLECTUAL BENEFITS</h3>
        <ol>
          <li>
            People who wish to increase their creativity can wear The Divine
            Star Protection Pendant, as it helps imparts creativity to its
            wearer.
          </li>
          <li>
            It is quite effective in rejuvenating the creative paradigm of
            the intellect because it helps stimulates the nerve cells in the
            Frontal Cortex of the brain.
          </li>
        </ol>
        <h3 class="benifits-heading">PHYSIOLOGICAL BENEFITS</h3>
        <ol>
          <li>
            Divine Star Protection Pendant helps to Re-Energize the body,
            the soul and the mind.
          </li>
          <li>
            One of the most common uses of this is to aid in physical
            healing.
          </li>
          <li>
            Thanks to the strong magnetic force that it carries, this stone
            can
            <ol type="a">
              <li>Help one to achieve good physical health.</li>
              <li>
                It can help heal wounds faster when held close to the body.
              </li>
              <li>
                It is also helpful in treating blood-related disorders and
                improves the functioning of the heart, lungs, and the
                circulatory system.
              </li>
            </ol>
          </li>
          <li>
            Moreover, this amazing stone also helps in strengthening the
            immune system and reduces system wise inflammation.
          </li>
        </ol>
      </div>
    </div>
  </div>
</main>
 

{% endblock content %}