{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<main id="main">
  <a
    class="d-flex justify-content-end icon-whatsapp container"
    href="http://wa.me/+919164049777"
    ><i class="bi bi-whatsapp"></i
  ></a>
  <section class="mt-3">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-9 col-md-12">
        <div>
          <h5>
            <strong> We are here to spread positivity to the World</strong>
          </h5>
          <p>
            <strong>
              We cater our products world wide, as our mission is to spread
              protection to each and every person in the world.</strong
            >
          </p>
        </div>
        <div class="mt-5">
          <h5><strong>World Corporate Office:</strong></h5>
          <h5><strong>The Divine Star (INDIA)</strong></h5>
          <p>
            No 58, 4th Floor, Defence Colony, Indiranagar, BBMP Ward 74,
            Bengaluru, Karnataka 560038. INDIA.
          </p>
          <p class="mt-5" style="margin-bottom: 0rem ;  ">
            <a style="color: #474747;" href="tel:+919164049777">Contact Number : +91 91640 49777</a>
          </p>
          <p>
            <a style="color: #474747;" href="mailto:info@thedivinestar.com"
              >Email : info@thedivinestar.com</a
            >
          </p>
        </div>
        <div class="mt-5">
          <h5>
            <strong>The Divine Star (CANADA)</strong>
          </h5>
          <p>
            Unit 19, 6366 126 street, Surrey, British Columbia V3X1T9
            ,Canada.
          </p>
        </div>

        <div class="mt-5">
          <h5 class="mt-5" style="color: #29265b">
            <b
              ><img src="assets/img/blogo.png" class="" alt="" /> FOR
              NATIONAL AND INTERNATIONAL BUSINESS CALL: +91 - 91 64 04 97
              77</b
            >
          </h5>
        </div>
      </div>
    </div>
  </section>
</main>


{% endblock content %}