{% load staticfiles %}


    <section class="lg-img mt-5">
      <div class="container d-flex justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="row d-flex justify-content-center">
            <img
            src=" {% static "img/Asset 10.svg"%}"
              alt="...."
              data-toggle="tooltip"
              data-placement="top"
              title="HAMSA : is an ancient amulet of the Middle East, which symbolizes the Hand of God. It is held from centuries as a protective sign which brings good fortune, happiness and health. However, this symbol has different meanings in different cultural contexts. The earliest use of this symbol has been traced to ancient Mesopotamia, where people used this symbol in their amulet to protect themselves. The hamsa wards off any potential negative forces, with the most  common being envious glares from those with ill or evil intentions."
            />
            <img
            src=" {% static "img/Asset 8.svg"%}"
              alt="...."
              data-toggle="tooltip"
              data-placement="top"
              title="TRIQUETRA : is an ancient protective symbol, also known as the “Trinity knot,” and used since the Bronze Age in Europe and some Asian countries. The meaning of the Triquetra is “Three corners.” This is a symbol of Celtic origin, which is focused on the number 3. The Celtic cosmology consists of three realms viz, the Earth, the Sea, and the Sky. Taken spiritually, it is considered as the three states of the body viz, physical, mental and spiritual (MIND , BODY AND SOUL)."
            />
            <img
            src=" {% static "img/Asset 6.svg"%}"
              alt="...."
              data-toggle="tooltip"
              data-placement="top"
              title="HEXAGRAM : is protective symbol originated in Middle East. It is believed that the hexagram signet ring was first worn by King Solomon which gave him magical powers. This symbol is represented as the symbol of god and people have been wearing this symbol since the middle ages, for the purpose of protection. It is also known as the Star of David, which symbolizes that god rules over from six directions."
            />
            <img
            src=" {% static "img/Asset 5.svg"%}"
              alt="...."
              data-toggle="tooltip"
              data-placement="top"
              title="BIND RUNE : is another protection symbol in Viking culture the age, created by combining two separate runes into a single one. It is believed that this symbol has a magical power to protect the warriors from the enemy. The exact meaning of this symbol has been lost in popular history but is believed to have been kept secret by some esoteric cults. It is also believed that this symbol can empower the sparks of security and enthusiasm."
            />
            <img
            src=" {% static "img/Asset 4.svg"%}"
              alt="...."
              data-toggle="tooltip"
              data-placement="top"
              title="MARS SIGN : is protective symbol signifies courage and energy, and it is believed that wearing this symbol will provide high energy during stressful periods in life. The Mars energy helps us to stay focused on confronting our darkest Fears. It is believed that this symbol has both attracting and repelling power."
            />
            <img
            src=" {% static "img/Asset 3.svg"%}"
              alt="...."
              data-toggle="tooltip"
              data-placement="top"
              title="PENTACLE : is Pentacle symbol of five elements of Spirit, Water, Fire, Earth & Air associated with Earth, A grounding, stabilizing elements that can bring peace & comfort to the wearer."
            />
            <img
            src=" {% static "img/Asset 2.svg"%}"
              alt="...."
              data-toggle="tooltip"
              data-placement="top"
              title="SOLAR CROSS : is an ancient symbol with significance to many cultures, it's natural that the sun cross has many meanings attributed to it. It's a symbol of the sun, an object that has been worshipped since ancient times. The belief was that the symbol represented the chariot wheel of the Sun god. Ancient kings in Egypt and elsewhere used this symbol as they saw it as representing the highest power – THE SUN. The dispeller of Darkness and Dark Energies."
            />
            <img
            src=" {% static "img/Asset 1.svg"%}"
              data-toggle="tooltip"
              data-placement="top"
              title="NAZAR BONCUGU : is word deriving from Arabic, meaning sight, surveillance, attention, and other related concepts, is an eye-shaped amulet believed to protect against the evil eye In Turkey, it is known by the name nazar boncugu in Greece is known as mati (the evil eye). In Persian and Afghan folklore, it is called a cheshm nazar in Persian or nazar qurbani In India and Pakistan, Chashm-e-Baddoor."
            />
            <img
            src=" {% static "img/Asset 9.svg"%}"
              alt="...."
              data-toggle="tooltip"
              data-placement="top"
              title="CROSSED SPEARS : This symbol is used as a symbol of protection from evil forces. It is believed that this symbol has a magical ritual that can give protection from enemies. These crossed spears are believed to be a part of 8' runes, and it has a connection with the Divine force. From ancient times, this symbol had appeared in many cultural contexts as a symbol of domination and protection."
            />
            <img
        
              src=" {% static "img/Asset 7.svg"%}"
              alt="...."
              data-toggle="tooltip"
              data-placement="top"
              title="THE EYE OF HORUS : is a protection symbol of Ancient Egypt, representing sacrifice, healing and royal power.  It helps to protect from evils and black magic. The ancient Egyptians believed that this symbol had the special powers to protect and shield from physical danger and harm. They used this symbol in amulets and ornaments of the dead bodies to protect themselves on their journey to the underworld. People also use this symbol to bring back good health and to protect themselves from evil sources."
            />
          </div>
        </div>
      </div>
    </section>
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <!-- <img src="/assets/img/imageslogo.png" class="overflow-hidden" alt=""> -->
      <div class="footer-top">
        <div class="container">
          <div class="d-flex justify-content-center">
            <div class="footer-newsletter">
              <h4 class="text-center">
                To Remove Negativity & Bring Positivity
              </h4>
              <form id="submit" action="#" class="d-flex">
                <div class="form-group mt-3 mt-md-0">
                  <input
                    class="form-control"
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Enter your email"
                  />
                </div>
                <div class="form-group mt-3 mt-md-0">
                  <input type="submit" value="Join Divine Star" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-links mt-5">
        <div class="row">
          <div class="col-md-6">
            <div
              class="d-flex justify-content-around col-sm-12 col-md-10 align-items-center"
            >
              <a href="/"
                ><img
                  src="{% static "img/footerlogo.png" %}"
                 
                  class="footer-logo"
                  alt="logo"
              /></a>
              <div class="copyright text-center">
                Copyright THE DIVINE STAR &copy;
              </div>
            </div>
          </div>
          <div class="col-md-4 col-12 col-sm-12 p-3 footer-l">
            <a href="/privacypolicy">Privacy Policy</a>
            <a href="/conditions">Terms and Conditions</a>
            <a href="https://medium.com/@thedivinestar2022">Blogs</a>
          </div>
        </div>
      </div>
    </footer>

    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
    <div id="preloader"></div>
    <a href="/add-to-cart/Pendant" class="buynow-btn buynow-flote">BUY NOW</a>
  </footer>