{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
    <main id="main" >
      <div class="container-fluid mb-4">
        <a
          class="d-flex justify-content-end icon-whatsapp"
          href="http://wa.me/+919164049777"
          ><i class="bi bi-whatsapp"></i
        ></a>
      </div>
      <section class="hero pe-lg-4">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 col-md-12 p-3">
              <!-- Slides with fade transition -->
              <div>
                <img src="{% static "img/homeimg.jpg" %}"
                
                 class="w-100" alt="" />
               
              </div>
            </div>
            <div class="col-lg-4 col-md-12 mb-3">
              <h3>
                <span id="dalmatins" style="font-size: 22px">
                  Timeless Design, Endless Positivity.</span
                >
              </h3>
              <p style="text-align: justify">
                Arrives a blessing to the world – The Divine Star Protection
                Pendant (DSPP) is studded with a Natural Gemstone that has
                Miraculous Paramagnetic properties. Set in an exquisite hand
                crafted gold plated design using state of art technology, The
                Divine Star Protection Pendant (DSPP) is energized with powerful
                vibrations. Scientifically Certified, the DSPP is a pure symbol
                of protection which helps us remove negativity and all negative
                energies and protects us from negative energy.
              </p>
              <div class="d-flex align-items-center justify-content-between">
                <span class="cross">₹10000</span>
                <span class="price" style="margin-bottom: 0">₹4999</span>
                <a href="add-to-cart/Pendant" class="buynow-btn">BUY NOW</a>
                <a href="" class="d-none d-md-block d-lg-block"
                  ><img
                    class="zoom-in-out-box"
                  
                    src=" {% static "img/wish.png"%}"
                    alt=""
                  />
                </a>
              </div>
              <p style="text-align: justify">
              <strong style="font-weight:900;color:#000;">  The Divine Star’s Protection Pendant </strong> <br>
                The Divine Star’s Protection pendant is the most powerful tool to remove any Negativity and Negative Energies from you. The Ultimate Protection Pendant for you and your loved ones.
                <br>
                <a href="/benefits" style=" color:#474747;text-decoration: underline !important;">Click to See Benefits</a>
              </p>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-lg-4 col-md-12">
              <h4><strong id="dalmatins">Destined</strong></h4>
              <p style="text-align: justify">
                The Divine Star Protection Pendant is inspired by a higher power
                with the energy of the earth and the beauty of the stars. The
                DSPP possesses a specific purpose to remove all negative
                energies and negativity, protecting its wearer to become more
                positive. And thereby enabling the wearer to attract the best of
                health, wealth & love in his or her life. life.
              </p>
            </div>

            <div class="col-lg-4 col-md-12">
              <h4><strong id="dalmatins">Designed </strong></h4>
              <p style="text-align: justify">
                The Divine Star Protection Pendant is an intricately designed
                pendant of exquisite craftsmanship, created with high quality
                metals and embedded with Ten Ancient Symbols of Protection. It
                is a natural rare gemstone that is energized by powerful
                vibrations.
              </p>
            </div>
            <div class="col-lg-4 col-md-12">
              <h4><strong id="dalmatins">Delivered</strong></h4>
              <p style="text-align: justify">
                The Divine Star Protection Pendant is exclusively packaged with
                scientific certifications after stringent quality checks and
                delivered to your loved ones and you for your protection. Every
                DSPP is unique. And therefore the certifications, with testing
                done by some of the top gemstone laboratories in the world, are
                also customised.
              </p>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-lg-4 col-md-12">
              <h4 style="text-align: center">
              We Deliver to 152 Countries
              </h4>
            </div>

            <div class="col-lg-4 col-md-12">
              <h4 style="text-align: center">
               80 + Associates
              </h4>
            </div>
            <div class="col-lg-4 col-md-12">
              <h4 style="text-align: center">
              20000 + Trusted Customers
              </h4>
            </div>
          </div>
        </div>
      </section>
    </main>


    



{% endblock content %}