{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<main id="main" >
  <section>
   <div class="container">
     <a class="d-flex justify-content-end icon-whatsapp " href="http://wa.me/+919164049777"><i class="bi bi-whatsapp "></i></a>

     <h1 class="text-center"><strong>Privacy Policy And Return Policy.</strong></h1>
<p>This Privacy Policy describes how thedivinestar.com (the “Site” or “we”) collects, uses, and discloses your Personal Information when you visit or make a purchase from the Site.</p>
<h4><b>Collecting Personal Information

</b></h4>
<p>When you visit the Site, we collect certain information about your device, your interaction with the Site, and information necessary to process your purchases. We may also collect additional information if you contact us for customer support. In this Privacy Policy, we refer to any information that can uniquely identify an individual (including the information below) as “Personal Information”. See the list below for more information about what Personal Information we collect and why.</p>



<p>Device information</p>
<ul>
 <li><b>Examples of Personal Information collected:</b> version of web browser, IP address, time zone, cookie information, what sites or products you view, search terms, and how you interact with the Site.
 </li>
 <li><b>Purpose of collection:
  </b> to load the Site accurately for you, and to perform analytics on Site usage to optimize our Site.</li>
 <li><b> Source of collection: </b>Collected automatically when you access our Site using cookies, log files, web beacons, tags, or pixels</li>
</ul>

<p>Order information</p>
<ul>
 <li><b>Examples of Personal Information collected: </b>name, billing address, shipping address, payment information (including credit card numbers , email address, and phone number.</li>
 <li><b>Purpose of collection:</b> to provide products or services to you to fulfill our contract, to process your payment information, arrange for shipping, and provide you with invoices and/or order confirmations, communicate with you, screen our orders for potential risk or fraud, and when in line with the preferences you have shared with us, provide you with information or advertising relating to our products or services.
   </li>
 <li><b> Source of collection:</b>collected from you.</li>
</ul>

<h4><b>Minors</b></h4>

<p>The Site is not intended for individuals under the age of 8. We do not intentionally collect Personal Information from children. If you are the parent or guardian and believe your child has provided us with Personal Information, please contact us at the address below to request deletion.</p>


<h4><b>Sharing Personal Information

</b></h4>

<p>We share your Personal Information with service providers to help us provide our services and fulfill our contracts with you, as described above. For example:</p>

<ul>

 <li>We may share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.</li>
</ul>



<h4><b>Behavioural Advertising

</b></h4>


<p>As described above, we use your Personal Information to provide you with targeted advertisements or marketing communications we believe may be of interest to you. For example:</p>

<ul><li> We use Google Analytics to help us understand how our customers use the Site. You can read more about how Google uses your Personal Information here: https://policies.google.com/privacy?hl=en.You can also opt-out of Google Analytics here: https://tools.google.com/dlpage/gaoptout.</li>
<li> We share information about your use of the Site, your purchases, and your interaction with our ads on other websites with our advertising partners. We collect and share some of this information directly with our advertising partners, and in some cases through the use of cookies or other similar technologies (which you may consent to, depending on your location).</li>
</ul>
<p>For more information about how targeted advertising works, you can visit the Network Advertising Initiative’s (“NAI”) educational page at <a href="">http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work.</a></p>

<h4><b>Using Personal Information</b></h4>

<p>We use your personal Information to provide our services to you, which includes: offering products for sale, processing payments, shipping and fulfillment of your order, and keeping you up to date on new products, services, and offers.</p>

<h4><b>Lawful basis</b></h4>

<p>Pursuant to the General Data Protection Regulation (“GDPR”), if you are a resident of the European Economic Area (“EEA”), we process your personal information under the following lawful bases:</p>
<ul> 
<li>Your consent;</li>
<li> The performance of the contract between you and the Site;</li>
<li>Compliance with our legal obligations;</li>
<li>To protect your vital interests;</li>
<li>To perform a task carried out in the public interest;</li>
<li>For our legitimate interests, which do not override your fundamental rights and freedoms.</li></ul>

<h4><b>Retention</b></h4>
<p>When you place an order through the Site, we will retain your Personal Information for our records unless and until you ask us to erase this information. For more information on your right of erasure, please see the ‘Your rights’ section below.</p>

<h4><b>Selling Personal Information</b></h4>
<p>Our Site sells Personal Information, as defined by the California Consumer Privacy Act of 2018 (“CCPA”).</p>

<h4><b>GDPR</b></h4>
<p>If you are a resident of the EEA, you have the right to access the Personal Information we hold about you, to port it to a new service, and to ask that your Personal Information be corrected, updated, or erased. If you would like to exercise these rights, please contact us through the contact information below</p>

<h4><b>CCPR</b></h4>
<p>If you are a resident of California, you have the right to access the Personal Information we hold about you (also known as the ‘Right to Know’), to port it to a new service, and to ask that your Personal Information be corrected, updated, or erased. If you would like to exercise these rights, please contact us through the contact information below</p>

<h4><b>Cookies</b></h4>
<p>A cookie is a small amount of information that’s downloaded to your computer or device when you visit our Site. We use a number of different cookies, including functional, performance, advertising, and social media or content cookies. Cookies make your browsing experience better by allowing the website to remember your actions and preferences (such as login and region selection). This means you don’t have to re-enter this information each time you return to the site or browse from one page to another. Cookies also provide information on how people use the website, for instance whether it’s their first time visiting or if they are a frequent visitor.</p>

<h4><b>Do Not Track</b>
</h4>
<p>Please note that because there is no consistent industry understanding of how to respond to “Do Not Track” signals, we do not alter our data collection and usage practices when we detect such a signal from your browser.
</p>

<h4><b>Changes</b></h4>
<p>We may update this Privacy Policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal, or regulatory reasons.</p>


<h3><b>Returns & Replacement Policy</b>
</h3>
<p>“The Divine Star” has a no refund policy, in case the product is damaged in transit it will be only exchanged for a New product and there will be no refund of money.</p>
<h5><b>Conditions for eligibility for the product replacement policy:</b></h5>

<p>If in case the product is damaged; you must click pictures from all the sides and upload it in the WhatsApp no +919164049777 (or) email to info@thedivinestar.com within 24 hrs of receiving the product.

</p>
<ul><li>Item(s) must be in their original, unused condition.</li>
<li>Replacement for items is subject to inspection and checking by the “The Divine Star” quality check team, after physical inspection of the damaged product.</li>
<li>Damages due to neglect, improper usage or deliberately damaged item will not be included under our Replacement Policy.</li>
<li>Product should be accompanied with Original Product and Original/Copy of Invoice, packaging, documentation, lab certificates, discount coupons if any in the box, etc.</li>
<li>To start an exchange, you can contact us at info@thedivinestar.com. If your exchange is accepted, we’ll send you a return shipping label, as well as instructions on how and where to send your package. Items sent back to us without first requesting a exchange will not be accepted. </li>
<li>You can always contact us for any exchange questions at info@thedivinestar.com.</li></ul>


<h3><b>Cancellation Policy:</b></h3>
<p>If you cancel your pendant order, The Divine Star will deduct a nominal charges of 15% off the total purchase price.</p>





   </div>
  </section>
  </main>


{% endblock content %}