{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<main id="main">
  <section>
    <div class="container-fluid mt-5">
      <a
        class="d-flex justify-content-end icon-whatsapp"
        href="http://wa.me/+919164049777"
        ><i class="bi bi-whatsapp"></i
      ></a>

      <h6 class="text-center">
        <b>WHAT OUR CUSTOMER SAY AROUND THE WORLD.</b>
      </h6>
      <p class="text-center">
        <b>Our happy clients and their emotion about our product.</b>
      </p>
      <div class="row mt-1 p-lg-4">
        <div
          class="col-lg-3 col-md-12"
          style="border-right: 1.5px solid #c0c0c0"
        >
          <div>
            <h5>Ms. Ashani Rani</h5>
            <p style="text-align: justify">
              I started using this divine star pendant for more than 15
              days. I am feeling better and felt I’m energetic. Highly
              recommended for who is in depression.
            </p>
          </div>
          <div class="mt-4">
            <h5>Ms. Vidya T</h5>
            <p style="text-align: justify">
              I just wanted to say that The Divine Star pendant is indeed
              Divine. I started using this pendant for the last one month
              continuously and must say that there is a great amount of
              change in me in terms of calmness and health. This item was
              delivered quick and in a nice elegant box and the stone is
              very classy and comfortable to wear. Extremely pleased and
              thank you. Highly recommended.
            </p>
          </div>
          <div class="mt-4">
            <h5>Ms. Vilwini</h5>
            <p style="text-align: justify">
              This pendant is really miraculous for me within 10 days my
              mindset is very positive.
            </p>
          </div>
          <div class="mt-4">
            <h5>Ms. Vijaya Kumar</h5>
            <p style="text-align: justify">
              I was completely demotivated and lacked enthusiasm for
              anything in life, I am feeling very much Positive and I am
              energetic too after wearing this powerful pendant. Every one
              Must try to resolve their negativity First in which this
              pendant definitely helps.
            </p>
          </div>

          <div class="mt-4">
            <h5>Mr. Jaideep Kumar</h5>
            <p style="text-align: justify">
              I never thought this pendant will give such great strength and
              positivity , I am in real estate business some of my deals are
              struck due to various reasons after wearing this divine
              pendant I am seeing progress. Thanks to the divine star, you
              are really a star.
            </p>
          </div>
          <div class="mt-4">
            <h5>Mr. Omprakash</h5>
            <p style="text-align: justify">
              I am a chartered accountant and a senior citizen I used to
              suffer from continuous coughing I tried all remedies allopathy
              ,Ayurvedic, Nature therapy but it was just not stopping I used
              to feel the strain in my chest then my son gave me this
              pendant and my coughing stopped within 4 to 5 days now I can
              breathe very comfortably without any strain.I keep the pendant
              with me all the time.
            </p>
          </div>
        </div>

        <div
          class="col-lg-3 col-md-12"
          style="border-right: 1.5px solid #c0c0c0"
        >
          <div>
            <h5>Dr. Vishal Kumar</h5>
            <p style="text-align: justify">
              I am a Doctor by profession, I didn’t simply believe in these
              things. One of my friend suggested me this pendant because she
              saw how much i was stressed at work I feel more relaxed and
              calm now, I don’t know how this thing works but it works. Good
              product by design and originality.
            </p>
          </div>
          <div class="mt-4">
            <h5>Mrs. Megha</h5>
            <p style="text-align: justify">
              My In-laws used to trouble me a lot ,they always used to keep
              finding faults with me for no reason whatever I did was never
              good enough for them, I was so depressed and had lost my
              selfcon fidence and interest in life itself, My Mother gifted
              this pendant because she had benfitted from it and from when I
              started wearing it I felt as if a weight had been lifted from
              my shoulders and started regaining my confidence i noticed
              that other peoples opinion did not affect me at all and I
              started standing up for the truth. I thank my mother and
              divine star for this beautiful gift, I will never part with
              it.
            </p>
          </div>
          <div class="mt-4">
            <h5>Ms. Sandya</h5>
            <p style="text-align: justify">
              I was sad and my energy levels were too low, my health is not
              that great the same time I found this pendant by one of my
              Reference. Amazing product.
            </p>
          </div>
          <div class="mt-4">
            <h5>Mrs. Kamala Reddy</h5>
            <p style="text-align: justify">
              I have 2 very Beautiful daughters ,every time they would dress
              up nicely and go out when they would come home they would be
              so irritable and fall sick and be so lethargic ,they used to
              get a lot of Nazar,I tried many remedies,Then my friend whose
              daughter is a well know actress I asked her that your daughter
              is so famous and always in public eye what she does for her
              protection, she was hesitant at first but I explained my
              Daughters situation then she said that she was using the
              divine star’s protection pendant which many celebrities use to
              get rid of negative energies and protect themselves and their
              family from Negative energies which come constantly from
              others , I immediately bought the pendants and gave it to my
              daughters I find that now when they go out and come back they
              never fall sick or are lazy, in fact they are always in a
              happy state ,I ordered 2 more for me and my husband now.
            </p>
          </div>
        </div>
        <div
          class="col-lg-3 col-md-12"
          style="border-right: 1.5px solid #c0c0c0"
        >
          <div>
            <h5>Ms. Shilpa Chauhan</h5>
            <p style="text-align: justify">
              I was going though a bad break up my boyfriend cheated on me
              and left me I had given 3 years of my life believing we would
              get married as he had promised me I used to keep crying all
              the time I truly loved him and trusted him and he broke my
              trust I was so depressed and suicidal and didn’t feel like
              doing anything I didn’t feel like going to work lost my
              appetite lost so much weight my parents got so worried they
              took me to a psychiatrist for counselling but it still didn’t
              help ,through some family friends I got the Divine star
              Protection pendant and started wearing it, for first 3 days I
              kept on crying more than usual but I still didn’t take it off
              as they had told me that it is a part of the healing process
              but after a week I started to feel so positive and strong and
              after about 2 weeks I was feeling so good and decided to move
              on with life and was in fact thanking that good he left me,
              Now I’m back at work and enjoying life with my friends and
              family .My parents are too happy Thanks to this pendant what I
              was suffering from 8 months made me positive in 2 weeks only.
            </p>
          </div>
          <div class="mt-4">
            <h5>S Gowda</h5>
            <p style="text-align: justify">
              I always wanted to start my own business from years but was so
              pessimistic and thinking only negative ,I had read so many
              self help books and done personality development courses but I
              just couldn’t overcome the negativity ,Then my friend
              suggested me to try the divine star pendant I was skecptical
              that how can a product costing only Rs.4000 make any impact
              when I had already spent lakhs together anyways as he was my
              best friend I decided to take his advice and I couldn’t
              believe what I experienced within 40 days after using the
              pendant . first of all I felt so positive and energetic which
              I hadn’t felt in so many years then I met a former colleague
              of mine and he came up with an idea for a business which was
              my area of interest and we decided to start a business we
              opened our company ,finished all the legal formalities of
              registration ,opened a ecom website and got a few big orders
              and doing brisk business so my dream of becoming a business
              man came true so fast , I thank this divine star protection
              pendant for making my mind so positive by removing all my
              negativity otherwise I would have been only complaining in
              life
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-12">
          <div>
            <h5>Ms. Aaliya</h5>
            <p style="text-align: justify">
              I am 17 years old going to 2nd PUC college I used to feel so
              low and depressed because the other girls always used to get
              jealous of me and spread false rumours about me and cause
              misunderstandings and I wasn’t able to focus on my studies but
              after my mom gave me this pendant all the nonsense stopped and
              i felt very positive and strong to handle any situation and am
              now able to focus on my studies.
            </p>
          </div>
          <div class="mt-4">
            <h5>Ms. Anusha</h5>
            <p style="text-align: justify">
              My Ex-husband was continuously practicing Evils on me and
              harassing me and none of my works were getting completed even
              my promotion was blocked from 2 years, I was sitting and
              crying in my office when my mentor saw me crying he asked me
              what the matter was, I told him my problems, so he advised me
              to get this pendant and start wearing it as he and his entire
              family uses it. so I bought one and started using it ,Now I
              feel my blocks are just going away as I got my pending
              promotion in 12 days and also my Ex got transferred to another
              city I’m not scared anymore and my friends tell me Anusha you
              are looking very positive. I thank my mentor for suggesting
              this. God bless him. I suggest this Pendant to everyone
              because I really know what suffering is.
            </p>
          </div>
          <div class="mt-4">
            <h5>Ms. Deepa Jain</h5>
            <p style="text-align: justify">
              I was suffering from severe depression from past 11 years I
              had tried everything from medicines to therapies but was
              always going up and down ,I tried meditation also but was not
              able to focus and always get up in 2 to 5 mins I was gifted
              this pendant by my friend and ever since I started using it I
              felt so good and positive which I never ever felt before I
              started working out ,im able to live a fuller life I don’t
              complain anymore I made a lots of new friends and they say
              they love my positive outlook , now I can meditate for almost
              20 to 30 mins feel so much calmer and I find that things are
              more clearer in my mind, I wish I had found this pendant much
              earlier I would have saved 11 years of my
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


{% endblock content %}